<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Anserini</title>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

    <!-- Bootstrap core CSS -->
    <!--
      * Bootstrap v3.3.5 (http://getbootstrap.com)
      * Copyright 2011-2015 Twitter, Inc.
      * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
      *-->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="jquery-1.11.3.min.js"></script>
    <script src="bootstrap.min.js"></script>
    
    <script>
      twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
          };
        return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
      function waitForTwitter(){
        if(typeof twttr !== "undefined" && typeof twttr.widgets !== "undefined"){
          {{#hits}}
          twttr.widgets.createTweet("{{{tweetInfo}}}",document.getElementById('results'),{});
          {{/hits}}  
        }else{
          setTimeout(function(){waitForTwitter();},250);
        }

      }
      $(document).ready(function(){
        waitForTwitter();       

      });
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1 class="center">Query: "{{query}}".</h1>
        <p class="lead center">Found {{hitLength}} hits</p>
      </div>
      <div id="results" class ="center"></div>
<!--       <ol class="center">{{#hits}}
      	<li class="text-center">{{tweetInfo}}</li>
      	{{/hits}}</ol>-->
      <style type="text/css">
        .center { text-align: center; list-style-position:inside;}
      </style> 
      
    </div> <!-- /container -->

  </body>
</html>
