/* globals.css */

/* Container for interface title and description */
.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.header p {
  font-size: 1rem;
  color: #666;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

/* All containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Container for centering the search bar in the page */
.search-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Style for the search bar container */
.search-bar {
  margin: 3rem auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 720px;
}

/* Style for the input field */
.search-bar input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Removing the input field's outline on focus */
.search-bar input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Style for the dropdown */
.search-bar select {
  padding: 0.5rem;
  border: none;
  border-radius: 2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Style for the search button */
.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Change background color slightly on hover for the button */
.search-bar button:hover {
  background-color: #0056b3;
}

/* Style for the search results list */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Style for the search results container */
.query-card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Style for the search results list item */
.query-card > h3 {
  margin: 0;
}

/* Style for the search results list item's span */
.query-card > h3 > span {
  float: right;
  color: #555;
  font-size: 0.95rem;
}

/* Style for the search results list item's p */
.query-card > p {
  margin-bottom: 0.5rem;
}
