/* globals.css */

/* Container for interface title and description */
.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.header p {
  font-size: 1rem;
  color: #666;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f7f7f7;
  color: #333;
}

/* All containers */
.container {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Container for centering the search bar in the page */
.search-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

/* Style for the search bar container */
.search-bar {
  display: flex;
  min-width: 480px;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 3rem auto;
}

/* Style for the search input container */
.search-input-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

/* Style for the search input */
.search-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/* Removing the input field's outline on focus */
.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.5);
}

/* Style for the search button */
.search-button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Change background color slightly on hover for the button */
.search-button:hover {
  background-color: #0056b3;
}

/* Style for the search results list */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Style for the search results container */
.query-card {
  background: white;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Style for the search results list item */
.query-card > h3 {
  margin: 0;
}

/* Style for the search results list item's span */
.query-card > h3 > span {
  float: right;
  color: #555;
  font-size: 0.95rem;
}

/* Style for the search results list item's p */
.query-card > p {
  margin-bottom: 0.5rem;
}

/* Style for the dropdowns */
.dropdowns {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

/* Style for the dropdown button */
.dropdown-button {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #333333;
  border-color: #cccccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Style for the dropdown items */
.dropdown-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Change background color slightly on hover for dropdown items */
.dropdown-item:hover {
  background-color: #f7f7f7;
}