.venv/
venv/
.DS_Store
.classpath
.project
.idea
target/
bin/
src/test/test-index*
*~
*.iml
*.pyc
*.out
lucene-index*
run.*
log.*
*.log
out.*

# vscode related files
.settings
.factorypath
.vscode/

# default directory where runs go
runs/

# default directory where logs go
logs/

# default directory where collections go
collections/

# default directory where indexes go
indexes/

# default output location of "Neural Hype" experiments: https://github.com/castorini/anserini/blob/master/docs/experiments-forum2018.md
fine_tuning_results/

# directory where we keep throw-away Java classes that we don't want checked into the repo.
src/main/java/io/anserini/scratch/
