# Anserini Regressions: TREC 2024 RAG Track Test Topics

**Model**: Snowflake's [Arctic-embed-l](https://huggingface.co/Snowflake/snowflake-arctic-embed-l) with flat indexes (using ONNX for on-the-fly query encoding)

This page describes regression experiments for ranking _on the segmented version_ of the MS MARCO V2.1 document corpus using the test topics (= queries in TREC parlance), which is integrated into Anserini's regression testing framework.
This corpus was derived from the MS MARCO V2 _segmented_ document corpus and prepared for the TREC 2024 RAG Track.

We build on embeddings made available by Snowflake on [Hugging Face Datasets](https://huggingface.co/datasets/Snowflake/msmarco-v2.1-snowflake-arctic-embed-l), which contains vectors already encoded by the Arctic-embed-l model.
The complete dataset comprises 60 parquet files (from `00` to `59`).
Due to its large size (472 GB), we have divided the vectors into ten shards, each comprised of six files:
for example `shard00` spans `00.parquet` to `05.parquet`; `shard01` spans the next six parquet files, etc.

This page documents experiments for `shard06`; we expect the corpus to be in `msmarco_v2.1_doc_segmented.arctic-embed-l/shard00` (relative to the base collection path).
In these experiments, we are performing query inference "on-the-fly" with ONNX, using flat vector indexes.

Evaluation uses qrels over 89 topics from the TREC 2024 RAG Track test set.
These qrels represent manual relevance judgments from NIST assessors, contrasted with automatically generated UMBRELA judgments.
More details can be found in the following two papers:

> Shivani Upadhyay, Ronak Pradeep, Nandan Thakur, Daniel Campos, Nick Craswell, Ian Soboroff, and Jimmy Lin. [A Large-Scale Study of Relevance Assessments with Large Language Models Using UMBRELA.](https://dl.acm.org/doi/10.1145/3731120.3744605) Proceedings of the 2025 International ACM SIGIR Conference on Innovative Concepts and Theories in Information Retrieval (ICTIR 2025), pages 358-368, July 2025, Padua, Italy.

> Shivani Upadhyay, Ronak Pradeep, Nandan Thakur, Daniel Campos, Nick Craswell, Ian Soboroff, Hoa Trang Dang, and Jimmy Lin. [A Large-Scale Study of Relevance Assessments with Large Language Models: An Initial Look.](https://arxiv.org/abs/2411.08275) _arXiv:2411.08275_, November 2024.

The exact configurations for these regressions are stored in [this YAML file](${yaml}).
Note that this page is automatically generated from [this template](${template}) as part of Anserini's regression pipeline, so do not modify this page directly; modify the template instead.

From one of our Waterloo servers (e.g., `orca`), the following command will perform the complete regression, end to end:

```
python src/main/python/run_regression.py --index --verify --search --regression ${test_name}
```

## Indexing

Typical indexing command:

```
${index_cmds}
```

The setting of `-input` should be a directory containing the compressed `jsonl` files that comprise the corpus.

For additional details, see explanation of [common indexing options](${root_path}/docs/common-indexing-options.md).

## Retrieval

Here, we are using 89 test topics from the TREC 2024 RAG Track with manual relevance judgments from NIST assessors.
Topics and qrels are stored [here](https://github.com/castorini/anserini-tools/tree/master/topics-and-qrels), which is linked to the Anserini repo as a submodule.

After indexing has completed, you should be able to perform retrieval as follows:

```
${ranking_cmds}
```

Evaluation can be performed using `trec_eval`:

```
${eval_cmds}
```

## Effectiveness

With the above commands, you should be able to reproduce the following results:

${effectiveness}
