<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="info"/>
    <!-- Suppress verbose Parquet and Hadoop internal logging -->
    <Logger name="org.apache.parquet" level="error"/>
    <Logger name="org.apache.parquet.hadoop" level="error"/>
    <Logger name="parquet" level="error"/>
    <Logger name="parquet.hadoop" level="error"/>
    <Logger name="org.apache.hadoop" level="warn"/>

    <!-- Suppress message "Using MemorySegmentIndexInput with Java 21; to disable start with -Dorg.apache.lucene.store.MMapDirectory.enableMemorySegments=false" -->
    <Logger name="org.apache.lucene.store.MemorySegmentIndexInputProvider" level="WARN"/>

    <!-- Suppress message "Java vector incubator API enabled; uses preferredBitSize=128" -->
    <Logger name="org.apache.lucene.internal.vectorization.PanamaVectorizationProvider" level="WARN"/>

    <!-- Suppress message "Found matching platform from: ..."-->
    <Logger name="ai.djl.util.Platform" level="WARN"/>

    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
