conditions:
  - name: bm25-doc-default
    display: "BM25 complete doc (k1=0.9, b=0.4)"
    display_html: "BM25 (<i>k<sub><small>1</small></sub></i>=0.9, <i>b</i>=0.4)"
    display_row: ""
    command: java -cp $fatjar --add-modules jdk.incubator.vector io.anserini.search.SearchCollection -threads $threads -index msmarco-v2-doc -topics $topics -output $output -hits 1000 -bm25
    topics:
      - topic_key: msmarco-v2-doc.dev
        eval_key: msmarco-v2-doc.dev
        expected_scores:
          MRR@100: 0.1572
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: msmarco-v2-doc.dev2
        eval_key: msmarco-v2-doc.dev2
        expected_scores:
          MRR@100: 0.1659
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: dl21
        eval_key: dl21-doc
        expected_scores:
          MAP@100: 0.2126
          MRR@100: 0.8367
          nDCG@10: 0.5116
          R@100: 0.3195
          R@1K: 0.6739
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl22
        eval_key: dl22-doc
        expected_scores:
          MAP@100: 0.0801
          MRR@100: 0.6514
          nDCG@10: 0.2993
          R@100: 0.1756
          R@1K: 0.4107
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl23
        eval_key: dl23-doc
        expected_scores:
          MAP@100: 0.1046
          MRR@100: 0.5669
          nDCG@10: 0.2946
          R@100: 0.2422
          R@1K: 0.5262
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
  - name: bm25-d2q-t5-doc-default
    display: "BM25 completed doc with doc2query-T5 (k1=0.9, b=0.4)"
    display_html: "BM25 with doc2query-T5 (<i>k<sub><small>1</small></sub></i>=0.9, <i>b</i>=0.4)"
    display_row: ""
    command: java -cp $fatjar --add-modules jdk.incubator.vector io.anserini.search.SearchCollection -threads $threads -index msmarco-v2-doc.d2q-t5 -topics $topics -output $output -hits 1000 -bm25
    topics:
      - topic_key: msmarco-v2-doc.dev
        eval_key: msmarco-v2-doc.dev
        expected_scores:
          MRR@100: 0.2011
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: msmarco-v2-doc.dev2
        eval_key: msmarco-v2-doc.dev2
        expected_scores:
          MRR@100: 0.2012
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: dl21
        eval_key: dl21-doc
        expected_scores:
          MAP@100: 0.2387
          MRR@100: 0.8866
          nDCG@10: 0.5792
          R@100: 0.3443
          R@1K: 0.7066
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl22
        eval_key: dl22-doc
        expected_scores:
          MAP@100: 0.0977
          MRR@100: 0.6666
          nDCG@10: 0.3539
          R@100: 0.2041
          R@1K: 0.4301
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl23
        eval_key: dl23-doc
        expected_scores:
          MAP@100: 0.1273
          MRR@100: 0.6183
          nDCG@10: 0.3511
          R@100: 0.2773
          R@1K: 0.5549
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
  - name: bm25-doc-segmented-default
    display: "BM25 segmented doc (k1=0.9, b=0.4)"
    display_html: "BM25 segmented (<i>k<sub><small>1</small></sub></i>=0.9, <i>b</i>=0.4)"
    display_row: ""
    command: java -cp $fatjar --add-modules jdk.incubator.vector io.anserini.search.SearchCollection -threads $threads -index msmarco-v2-doc-segmented -topics $topics -output $output -bm25 -hits 10000 -selectMaxPassage -selectMaxPassage.delimiter \# -selectMaxPassage.hits 1000
    topics:
      - topic_key: msmarco-v2-doc.dev
        eval_key: msmarco-v2-doc.dev
        expected_scores:
          MRR@100: 0.1896
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: msmarco-v2-doc.dev2
        eval_key: msmarco-v2-doc.dev2
        expected_scores:
          MRR@100: 0.1930
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: dl21
        eval_key: dl21-doc
        expected_scores:
          MAP@100: 0.2436
          MRR@100: 0.8937
          nDCG@10: 0.5776
          R@100: 0.3478
          R@1K: 0.6930
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl22
        eval_key: dl22-doc
        expected_scores:
          MAP@100: 0.1036
          MRR@100: 0.7163
          nDCG@10: 0.3618
          R@100: 0.2192
          R@1K: 0.4664
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl23
        eval_key: dl23-doc
        expected_scores:
          MAP@100: 0.1341
          MRR@100: 0.6477
          nDCG@10: 0.3405
          R@100: 0.2884
          R@1K: 0.5662
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
  - name: bm25-d2q-t5-doc-segmented-default
    display: "BM25 segmented doc with doc2query-T5 (k1=0.9, b=0.4)"
    display_html: "BM25 segmented with doc2query-T5 (<i>k<sub><small>1</small></sub></i>=0.9, <i>b</i>=0.4)"
    display_row: ""
    command: java -cp $fatjar --add-modules jdk.incubator.vector io.anserini.search.SearchCollection -threads $threads -index msmarco-v2-doc-segmented.d2q-t5 -topics $topics -output $output -bm25 -hits 10000 -selectMaxPassage -selectMaxPassage.delimiter \# -selectMaxPassage.hits 1000
    topics:
      - topic_key: msmarco-v2-doc.dev
        eval_key: msmarco-v2-doc.dev
        expected_scores:
          MRR@100: 0.2226
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: msmarco-v2-doc.dev2
        eval_key: msmarco-v2-doc.dev2
        expected_scores:
          MRR@100: 0.2234
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: dl21
        eval_key: dl21-doc
        expected_scores:
          MAP@100: 0.2683
          MRR@100: 0.9454
          nDCG@10: 0.6289
          R@100: 0.3656
          R@1K: 0.7202
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl22
        eval_key: dl22-doc
        expected_scores:
          MAP@100: 0.1203
          MRR@100: 0.7367
          nDCG@10: 0.3975
          R@100: 0.2441
          R@1K: 0.4984
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl23
        eval_key: dl23-doc
        expected_scores:
          MAP@100: 0.1460
          MRR@100: 0.7029
          nDCG@10: 0.3612
          R@100: 0.3078
          R@1K: 0.5967
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
  - name: unicoil.onnx
    display: "uniCOIL (with doc2query-T5): ONNX"
    display_html: "uniCOIL (with doc2query-T5): ONNX"
    display_row: ""
    command: java -cp $fatjar --add-modules jdk.incubator.vector io.anserini.search.SearchCollection -threads $threads -index msmarco-v2-doc-segmented.unicoil-0shot -topics $topics -output $output -impact -pretokenized -hits 10000 -selectMaxPassage -selectMaxPassage.delimiter \# -selectMaxPassage.hits 1000 -encoder UniCoil
    topics:
      - topic_key: msmarco-v2-doc.dev
        eval_key: msmarco-v2-doc.dev
        expected_scores:
          MRR@100: 0.2419
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: msmarco-v2-doc.dev2
        eval_key: msmarco-v2-doc.dev2
        expected_scores:
          MRR@100: 0.2445
        metric_definitions:
          MRR@100: "-c -M 100 -m recip_rank"
      - topic_key: dl21
        eval_key: dl21-doc
        expected_scores:
          MAP@100: 0.2718
          MRR@100: 0.9684
          nDCG@10: 0.6783
          R@100: 0.3700
          R@1K: 0.7069
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl22
        eval_key: dl22-doc
        expected_scores:
          MAP@100: 0.1400
          MRR@100: 0.8170
          nDCG@10: 0.4451
          R@100: 0.2656
          R@1K: 0.5235
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
      - topic_key: dl23
        eval_key: dl23-doc
        expected_scores:
          MAP@100: 0.1554
          MRR@100: 0.7793
          nDCG@10: 0.4150
          R@100: 0.3101
          R@1K: 0.5753
        metric_definitions:
          MAP@100: "-c -M 100 -m map"
          MRR@100: "-c -M 100 -m recip_rank"
          nDCG@10: "-c -m ndcg_cut.10"
          R@100: "-c -m recall.100"
          R@1K: "-c -m recall.1000"
